.key {
    width: 80px;
    height: 58px;
    background-color: rgba(245, 248, 239);
    margin-top: 3px;
    margin-left: 3px;
    border: none;
    font-size: 19px;
    font-weight: 600;
    cursor: pointer;
}

.key:hover {
    background-color: rgba(245, 248, 239, 0.7);
}

.thin {
    font-weight: 100;
    font-size: 15px;
}

.opacity {
    opacity: 0.7;
}

.size{
    font-size: 25px;
}

.large {
    width: 90px !important;
}

.equal {
    background-color: #73a4cd;
}

.equal:hover{
    background-color: #4599db !important;
}